[user]
	name = Damian Dziaduch
	email = damian@dziaduch.pl
[core]
	autocrlf = input
	editor = nano
	excludesfile = /Users/ddziaduch/.gitignore.global
[credential]
	helper = osxkeychain
[push]
	default = simple
[pull]
	rebase = false
[alias]
	vommit = !sh -c \"cat ~/.gitvommit\"
# local
[include]
	path = /Users/ddziaduch/.gitconfig.local
