[user]
	name = Damian Dziaduch
	email = damian@dziaduch.pl
[core]
	autocrlf = input
	editor = vim
	excludesfile = /Users/ddziaduch/global.gitignore
[credential]
	helper = osxkeychain
[push]
	default = simple
# GetResponse
[includeIf "gitdir:/data/www/"]
	path = /data/www/.gitconfig
