.DS_Store
.CFUserTextEncoding
.Trash
.anyconnect
.bash_history
.bash_sessions
.cisco
.composer
.cups
.esets
.oh-my-zsh
.ssh
.yarnrc
.zsh_history
.shell.pre-oh-my-zsh
.npm
.commonrc.local
.gnupg
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Postman
Public
.config
.viminfo
.zcompdump*
.php_history
.node_repl_history
bin
.docker
.gitconfig.local
.zsh_sessions
.aws
.vim
.cargo
.profile
.rustup
.vscode
.zprofile
.zshenv
